DOCKER_UID=1000
DOCKER_GID=1000
SERVER_PUBLISHED_PORT=6012
SERVER_DATA_PATH=./files
CLIENT_DATA_PATH=./client_files
IMAGE_PREFIX=ghcr.io/kingjorjai/distributed-systems-cloud-file-service
IMAGE_TAG=latest
